<h1>Edit this item</h1>
<br>

<form action="/items/<%=@item.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <div class="form-group row">
  <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="item[description]" value="<%= @item.description %>">
    </div>
  <label class="col-sm-2 col-form-label">Link to website</label>
    <div class="col-sm-10">
       <input type="text" class="form-control" name="item[url]" value="<%= @item.url %>">
    </div>
  <label class="col-sm-2 col-form-label">Source of website</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="item[site_source]" value="<%= @item.site_source %>">
    </div>
  <label class="col-sm-2 col-form-label">Add to your board</label>
    <div class="col-sm-10">
      <select name="item[board_id]" class="form-control">
        <% current_user.boards.each do |board| %>
        <option value="<%= board.id %>"><%= board.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <input type="submit" class="btn btn-info" value="submit">
</form>
<br><br>

<form action="/items/<%= @item.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" class="btn btn-danger" value="Delete item">
</form>
